# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
SM3/Object Oriented Programming LAB/FINAL PROJECTSSSSS/Bank-Management-System/
SM4/Artificial Intelligence/ClassSync AI Project/ClassSyncAI/
SM5/Web Engineering/MidTerm/Assignments/Assignment-01/data-grid-app/
SM5/Web Engineering/MidTerm/Assignments/Assignment-02/campus-portal-frontend/
SM5/Web Engineering/MidTerm/Assignments/Assignment-02/campusportal/
SM5/Web Engineering/MidTerm/Assignments/Assignment-03/course-registration-app-annotations/
SM5/Web Engineering/MidTerm/Assignments/Assignment-03/course-registration-frontend/
SM5/Web Engineering/MidTerm/Assignments/Assignment-04/sale-inventory-backend/
SM5/Web Engineering/MidTerm/Assignments/Assignment-04/sale-inventory-frontend/
SM5/Web Engineering/MidTerm/Assignments/Assignment-05/
SM5/Web Engineering/MidTerm/Assignments/Assignment-06/student-course-hub/
SM5/Web Engineering/MidTerm/Assignments/misc/Sample/spring-project/
SM5/Web Engineering/MidTerm/Assignments/misc/Task/Basic-React-Spring Boot-Intro.docx
SM5/Web Engineering/MidTerm/Assignments/misc/Task/spring-product/spring-product-frontend/
SM5/Web Engineering/MidTerm/Assignments/misc/Task/spring-product/spring-product-backend/
SM5/Web Engineering/MidTerm/midterm/
